{% extends "layout.html"}

{% block title %}
Search
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center h-100">
  <div class="card">
    <div class="card-header">
      <h3 class="green">Search your favorite book</h3>
    </div>
    <div class="card-body">
      <form action="/search" method="post">
        <div class="row">
          <input class="form-control col-sm-9" type="text" placeholder="Search.." name="search">
          <button class="btn btn-search col-sm-3" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <img src="http://covers.openlibrary.org/b/isbn/{{book["isbn"]}}-S.jpg">
      <!-- Add here late with the stars using JS -->
      {% if user_review["rating"] == NULL %}
      <form class="form-inline" method="POST" action="/rating">
        <input type="hidden" name="isbn" value="{{ book["isbn"] }}">
        <label for="ratings" class="sr-only">Rate this book</label>
        <select class="form-control" name="rating" id="ratings">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option selected value=5>5</option>
        </select>
        <button type="submit" class="btn btn-primary mb-2">Rate</button>
      </form>
      {% else %}
      <p>You rated {{ user_review["rating"] }} star(s) for this book.</p>
      {% endif %}
    </div>
    <div class="col-md-8">
      <h5>{{ book["title"] }}</h5>
      <p>by <b>{{ book["author"] }}</b> pulished in {{ book["year"] }}</p>
      <p>Bookquery: {{ book["average_rating" }} average rating - {{ book["ratings_count"] }} ratings - {{ book["review_count"] }} reviews</p>
      <p><a href=" https://www.goodreads.com/book/isbn/{{ book["isbn"] }}">Goodreads</a>: {{ book_rc["average_rating"] }} average rating - {{ book_rc["work_ratings_count"] }} ratings - {{ book_rc["reviews_count"]}} reviews</p>
      <hr>
      <!-- add book descriptions here -->
    </div>
  </div>

  <!-- reviews with limitation of 10 rows-->

  <div class="row">
    <form class="form-inline" method="POST" action="/review">
      <input type="hidden" name="isbn" value="{{ book["isbn"] }}">
      <div class="col-md-4">
        {% if user_review["rating"] == NULL %}
        <label for="ratings" class="sr-only">Rate this book</label>
        <select class="form-control" name="rating" id="ratings">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option selected value=5>5</option>
        </select>
        {% else %}
        <p> your rating: {{ user_review["rating"] }} star(s).</p>
        {% endif %}
      </div>
      <div class="col-md-12">
        {% if user_review["review"] == NULL %}
        <label for="ratings" class="sr-only">Write a customer review</label>
        <textarea class="form-control" id="review" name="review" rows="2"></textarea>
        {% else %}
        <p>"Your review: {{ user_review["review"] }}."</p>
        {% endif %}
      </div>
      {% if user_review["rating"] == NULL or user_review["review"] == NULL %}
      <button type="submit" class="btn btn-primary mb-2">Review</button>
      {% endif %}
    </form>
  </div>
  <hr>
add a table of 10 newest review here


  <!-- QAs with limitation of 10 rows-->
create a form for QA and response here
  <form>

  </form>
</div>
{% endblock %}



book page:
- list of searched books (all books matched the search):

when clicked, go to the details of the books (book/isbn)
title
author
publication year
ISBN number
any reviews that users have left on the website
query API from goodreads to see the average rating and number of ratings
a button to click on a "want to read"
submit a review: rate (1-5), text/review (optional), displace if the review has added before with an edit button
if not add, appear the textarea so the users can add (similar to review, defaul 0 star)
if possible, where to buy it
a QAs where users can ask what the book about, how good the book is, including the answer from users
