{% extends 'layout.html' %}

{% block title %}
Chatbox
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center h-100">
  <div class="card" id="card_css">
    <div class="card-header" style="text-align: center;">
      <h3>Create a channel</h3>
      <div class="card-body">
        <form action="/create" method="post">
          <div class="row form-group">
            <div class="col-sm-9">
              <input class="form-control ml-2 w-100 input-text" type="text" placeholder="Type a name..." name="channel_name" minlength="3" maxlength="10" required></input>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-info w-100 submit" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
