body {
  height: 100% margin: 0;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.card {
  height: 500px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

nav .navbar-brand {
  /* size for brand */
  font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}

nav .navbar-brand .red {
  color: #ea433b;
}

nav .navbar-brand .yellow {
  color: #f5b82e;
}

nav .navbar-brand .green {
  color: #2e944b;
}

.nav-item {
  font-size: 1.2rem;
}

main .form-control {
  /* center form controls */
  display: inline-block;
  /* override Bootstrap's 100% width for form controls */
  width: auto;
}

main {
  /* scroll horizontally as needed */
  overflow-x: auto;
  /* center contents */
  text-align: center;
}

.center {
  text-align: center;
}

main img {
  /* constrain images on small screens */
  max-width: 100%;
}

table {
  table-layout: fixed;
}

td {
  word-wrap: break-word
}

h5 {
  color: #1040eb;
}

h6 {
  text-align: justify;
  text-justify: auto;
}

.section-heading {
  color: #038cfc;
}

.Animals, .People, .contribute-now, .your_solutions {
  margin-top: 50px;
}

.carousel-caption {
  max-width: 80%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  left: 10%;
  color: black;
}

.footer-link {
  padding: 0 10px;
}

@media (max-width:600px) {
  .table {
    font-size: 1.5vw;
  }
}
