.brand {
    color: #a0ffe6;
    font-size: 30px;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.nav-item {
  padding: 0 18px;
}

.carousel {
    padding: 5%;
}

p {
    font-size: 1.2rem;
}

/* Features section */
#features {
  font-family: "Montserrat-bold";
  position: relative;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.footer-section {
    text-align: center;
}

.footer-icon {
    padding: 1.5%;
}

#rate-me {
    padding: 15% 5%;
}

.greeting{
    font-family: Arial;
    text-align: center;
    font-size: 16pt;
    color: #800000;
}

.rateMe{
    font-family: Arial;
    text-align: center;
    font-size: 16pt;
    color: #7CFC00;
}

.me {
    padding: 15% 5%;
    font-family: Arial;
}

.gallary {
    text-align: center;
}

.section-heading {
  font-size: 2rem;
  line-height: 1.5;
}
