{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/pwchange" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Current password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Repeat password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
